name: 'Maven CI'

concurrency:
  group: ${{ github.workflow }}-${{ ( github.ref == 'refs/heads/master' || github.ref == 'refs/heads/release' ) && format('ci-master-{0}', github.sha) || format('ci-master-{0}', github.ref) }}
  cancel-in-progress: true

on:
  push:
    branches: [ master ]
  pull_request:

env:
  MAVEN_OPTS: -Djava.awt.headless=true

jobs:
  build:
    name: "Test Java  ${{ matrix.java }} / Maven ${{ matrix.maven }}"
    runs-on: ubuntu-latest
    permissions:
      contents: read
      statuses: write
    strategy:
      fail-fast: false
      matrix:        
        java: [ 17, 21 ]
        java_dist: ["temurin"]
        maven: [ "3.8.9", "3.9.12" ]
        include:
          - java: 21
            java_dist: "temurin"
            maven: "4.0.0-rc-5"
            experimental: true

    steps:
      - uses: actions/checkout@v6

      - name: 'Set up Maven'
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: ${{ matrix.maven }}

      - name: 'Set up JDK'
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.java_dist }}
          cache: maven

      - name: 'Startup databases'
        run: |
          build/ci/start-pgsql.sh 18-3.6
          build/ci/start-oracle.sh 23.26.0-slim
          build/ci/start-mysql.sh 9
          build/ci/start-mssql.sh 2025-latest

      - name: Install extra software
        run: sudo apt install -y --no-install-recommends graphviz

      - name: Build with Maven
        run: mvn install -Dmaven.test.skip=true -B -V -fae -q -Djava.awt.headless=true

      - name: Test
        run: |
          mvn -e -B -fae -Pmaven-ci clean verify -Dorg.slf4j.simpleLogger.showDateTime=true -Dorg.slf4j.simpleLogger.dateTimeFormat=HH:mm:ss,SSS -Dfailsafe.useFile=false -Djava.awt.headless=true
          mvn -e -B -fae -Pmaven-ci jacoco:report coveralls:report -q -Dlicense.skip=true -DrepoToken=$GITHUB_TOKEN -DserviceName=github -Djava.awt.headless=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
#      # https://github.com/marketplace/actions/coveralls-github-action
#      - name: Report test coverage
#        uses: coverallsapp/github-action@v1.1.2
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}


  docs:
    name: Check Javadoc for Java 17
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'zulu'
          cache: maven

      - name: JavaDoc
        run: mvn javadoc:javadoc

      - name: Test JavaDoc
        run: mvn javadoc:test-javadoc
